/**
 * Datetime input styles
 */
.datetimeInput {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


/**
 * Display datetime object
 */
.datetimeInput .display {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  height: 4em;
  background-color: #efefef;
  transition: background-color 0.25s ease-out;
}

.datetimeInput .display.active,
.datetimeInput .display:hover {
  background-color: #ddd;
}

.datetimeInput .display.warning {
  background-color: rgba(255, 54, 46, 0.75);
}

.datetimeInput .display.warning.active,
.datetimeInput .display.warning:hover {
  background-color: rgba(255, 54, 46, 0.75);
}

.datetimeInput .display > .date {
  color: #777;
  font-size: 1em;
  line-height: 2em;
  display: block;
  overflow: hidden;
}

.datetimeInput .display > .time {
  font-size: 1.5em;
  line-height: 1.25em;
  display: block;
  overflow: hidden;
}

.datetimeInput .display > .placeholder {
  font-size: 1.5em;
  line-height: 3em;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/**
 * Edit datetime popover
 */
.datetimeInput .editPopover {
  position: absolute;
  z-index: 5;
  top: 4.5em;
  width: 100%;
  min-width: 350px;
  height: auto;
  padding: 0;
  background-color: #efefef;
  border-radius: 0;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

.datetimeInput .editPopover .header {
  width: 100%;
  color: #777;
  font-size: 1.5em;
  line-height: 2em;
  cursor: pointer;
  transition: background-color 0.25s ease-out;
}

.datetimeInput .editPopover .header::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #efefef;
  width: 1em;
  height: 1em;
  top: -0.5em;
  left: 10%;
  z-index: 2;
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 1px 0 0;
  box-sizing: border-box;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: background-color 0.25s ease-out;
}

.datetimeInput .editPopover .header:hover,
.datetimeInput .editPopover .header:hover::before {
  background-color: #ddd;
}


/**
 * Calendar
 */
.datetimeInput .calendar .calendarHeader {
  cursor: default;
  background-color: #fff;
  position: relative;
  width: 100%;
  font-size: 1.5em;
  line-height: 2em;
}

.datetimeInput .calendar .calendarHeader .arrow {
  display: inline-block;
  color: #ddd;
  cursor: pointer;
  line-height: 1.5em;
  font-size: 1.5em;
}

.datetimeInput .calendar .calendarHeader .arrow.arrowLeft {
  position: absolute;
  left: 0;
  width: 2em;
  height: 100%;
}

.datetimeInput .calendar .calendarHeader .arrow.arrowLeft::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 25%;
  border-right: 0.75em solid #ddd;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  transition: border 0.25s ease-out;
}

.datetimeInput .calendar .calendarHeader .arrow.arrowLeft:hover::before {
  border-right-color: #999;
}

.datetimeInput .calendar .calendarHeader .arrow.arrowRight {
  position: absolute;
  right: 0;
  width: 2em;
  height: 100%;
}

.datetimeInput .calendar .calendarHeader .arrow.arrowRight::before {
  content: "";
  position: absolute;
  top: 15%;
  right: 25%;
  border-left: 0.75em solid #ddd;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  transition: border 0.25s ease-out;
}

.datetimeInput .calendar .calendarHeader .arrow.arrowRight:hover::before {
  border-left-color: #999;
}

.datetimeInput .calendar .calendarBody {
  padding: 0.5em 0;
}

.datetimeInput .calendar .calendarBody .weekdays {
  cursor: default;
  display: flex;
  justify-content: space-between;
  color: #777;
  font-size: 1em;
  line-height: 2em;
  text-transform: uppercase;
  padding: 0 1em;
}

.datetimeInput .calendar .calendarBody .weekdays .weekday {
  display: inline-block;
  width: 5em;
  height: 2.5em;
}

.datetimeInput .calendar .calendarBody .weekdays .weekday {
  display: inline-block;
}

.datetimeInput .calendar .calendarBody .week {
  display: flex;
  justify-content: space-between;
  color: #777;
  font-size: 1.25em;
  line-height: 2.65em;
  letter-spacing: 1px;
  padding: 0.5em 1em;
}

.datetimeInput .calendar .calendarBody .week .date {
  display: inline-block;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  transition: background-color 0.25s ease-out;
}

.datetimeInput .calendar .calendarBody .week .date.current {
  color: #555;
  font-weight: 900;
}

.datetimeInput .calendar .calendarBody .week .date:not(.active):hover {
  background-color: #ddd;
}

.datetimeInput .calendar .calendarBody .week .date.active,
.datetimeInput .calendar .calendarBody .week .date.inactive.active {
  color: #efefef;
  background-color: rgba(255, 69, 0, 0.75);
}

.datetimeInput .calendar .calendarBody .week .date.inactive {
  color: #aaa;
}


/**
 * Timer
 */
.datetimeInput .timer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.datetimeInput .timer .timerHours,
.datetimeInput .timer .timerMinutes,
.datetimeInput .timer .timerSeconds {
  cursor: default;
  width: 3em;
  display: inline-block;
  font-size: 3em;
  line-height: 1.5em;
  position: relative;
}

.datetimeInput .timer .timerHours .arrow,
.datetimeInput .timer .timerMinutes .arrow,
.datetimeInput .timer .timerSeconds .arrow {
  position: relative;
  color: #ddd;
  cursor: pointer;
  height: 1em;
  margin: 0 0.5em;
  line-height: 1em;
  font-size: 0.75em;
}

.datetimeInput .timer .timerHours .arrow.arrowUp::before,
.datetimeInput .timer .timerMinutes .arrow.arrowUp::before,
.datetimeInput .timer .timerSeconds .arrow.arrowUp::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 35%;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid #ddd;
  transition: border 0.25s ease-out;
}

.datetimeInput .timer .timerHours .arrow.arrowUp:hover::before,
.datetimeInput .timer .timerMinutes .arrow.arrowUp:hover::before,
.datetimeInput .timer .timerSeconds .arrow.arrowUp:hover::before {
  border-bottom-color: #999;
}

.datetimeInput .timer .timerHours .arrow.arrowDown::before,
.datetimeInput .timer .timerMinutes .arrow.arrowDown::before,
.datetimeInput .timer .timerSeconds .arrow.arrowDown::before {
  content: "";
  position: absolute;
  top: 0;
  left: 35%;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid #ddd;
  transition: border 0.25s ease-out;
}

.datetimeInput .timer .timerHours .arrow.arrowDown:hover::before,
.datetimeInput .timer .timerMinutes .arrow.arrowDown:hover::before,
.datetimeInput .timer .timerSeconds .arrow.arrowDown:hover::before {
  border-top-color: #999;
}

.datetimeInput .timer .timerDivider {
  font-size: 3em;
  line-height: 3em;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
  0% { opacity: 0.0; }
  5% { opacity: 1.0; }
  95% { opacity: 1.0; }
  100% { opacity: 0.0; }
}

@-webkit-keyframes blinker {
  0% { opacity: 0.0; }
  5% { opacity: 1.0; }
  95% { opacity: 1.0; }
  100% { opacity: 0.0; }
}

@keyframes blinker {
  0% { opacity: 0.0; }
  5% { opacity: 1.0; }
  95% { opacity: 1.0; }
  100% { opacity: 0.0; }
}


/**
 * Clear button
 */
.datetimeInput .clearButton {
  position: absolute;
  z-index: 5;
  bottom: -2.5em;
  right: -1px;
  cursor: pointer;
  outline: none;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  color: #777;
  width: 25%;
  height: auto;
  font-size: 1.5em;
  line-height: 2em;
  box-sizing: border-box;
  background-color: #efefef;
  transition: background-color 0.25s ease-out;
}

.datetimeInput .clearButton::before {
  content: "";
  position: absolute;
  left: -0.5em;
  top: -1px;
  width: 1em;
  height: 2em;
  background: #efefef;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  transition: background 0.25s ease-out;
  transform: skewX(25deg);
}

.datetimeInput .clearButton:hover,
.datetimeInput .clearButton:hover::before {
  background: #ddd;
}


/**
 * Close button
 */
.datetimeInput .closeButton {
  position: absolute;
  z-index: 5;
  left: -1px;
  bottom: -2.5em;
  cursor: pointer;
  outline: none;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  color: #777;
  width: 25%;
  height: auto;
  margin-top: 10px;
  font-size: 1.5em;
  line-height: 2em;
  box-sizing: border-box;
  background-color: #efefef;
  transition: background-color 0.25s ease-out;
}

.datetimeInput .closeButton::before {
  content: "";
  position: absolute;
  right: -0.5em;
  top: -1px;
  width: 1em;
  height: 2em;
  background: #efefef;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  transition: background 0.25s ease-out;
  transform: skewX(-26deg);
}

.datetimeInput .closeButton:hover,
.datetimeInput .closeButton:hover::before {
  background: #ddd;
}
